/** @format */

body {
  /* background-color: rgb(113, 255, 146); */
  background: linear-gradient(-45deg, #41ff9a, rgb(0, 183, 255));
  animation: gradient 5s ease infinite;
  height: 96vh;
  font-family: Arial, Verdana, sans-serif;
}

header {
  background-color: #41ff9a;
  /* background-image: linear-gradient(to right, #41ff9a, rgb(0, 183, 255)); */
}
.head {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 46px;
  border-radius: 12px;
  padding: 16px;
}
.logo {
  float: left;
  padding: 10px;
}
.setting {
  float: right;
  padding: 10px;
}
.profile {
  float: right;
  padding: 10px;
}
.setting > a:hover {
  height: "35";
  width: "35 ";
}
.title {
  font-size: 72px;
  border: solid 16px#1d402d;
  width: 500px;
  background-color: lightcoral;
  padding: 20px;
  text-align: center;
}

p {
  font-size: large;
  font-family: sans-serif;
  border: solid black 2px;
  color: rgb(15, 1, 26);
  background-color: lightcoral;
  box-sizing: 90%;
}
img {
  border: black solid 5px;
}
