/** @format */

body {
  /* background-color: rgb(113, 255, 146); */
  background: linear-gradient(-45deg, #41ff9a, rgb(0, 183, 255));
  animation: gradient 5s ease infinite;
  height: AUTO;
  font-family: Arial, Verdana, sans-serif;
}

header {
  background-color: #41ff9a;

  /* background-image: linear-gradient(to right, #41ff9a, rgb(0, 183, 255)); */
}
.head {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 46px;
  border-radius: 12px;
  padding: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.logo {
  float: left;
  padding: 10px;
}
.setting {
  float: right;
  padding: 10px;
}
.profile {
  float: right;
  padding: 10px;
}
.setting > a:hover {
  height: "35";
  width: "35 ";
}
a {
  text-decoration: none;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.name {
  font-size: 24px;
  color: rgb(1, 136, 1);
  background-color: white;
  width: 50%;
  border: 5px solid #41ff9a;
  padding: 5px;
  margin: auto;
}
.email {
  font-size: 24px;
  color: rgb(1, 136, 1);
  background-color: white;
  width: 50%;
  border: 5px solid #41ff9a;
  padding: 5px;
  margin: auto;
}
p {
  text-align: center;
}
li {
  list-style-type: none;
  border: 15px solid black;
  color: rgb(1, 136, 1);
  background-color: rgb(200, 189, 253);
  margin: auto;
  width: 10%;
}
a:link {
  color: rgb(1, 136, 1);
  background-color: rgb(0, 0, 0);
}
a:visited {
  color: rgb(1, 136, 1);
  background-color: rgb(109, 102, 255);
}
a:hover {
  color: rgb(255, 255, 255);
  background-color: white;
}
.pre_reg {
  text-align: center;
  font-size: 16px;
  color: black;
  padding: 5px;
}
